
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>MedicalBook - Home</title>

    <meta name="keywords" content="MedicalBook" />
    <meta name="description" content="MedicalBoo is the direct distributor of all the major medical books online. Get 100% Original Books on Upto 50% Off with International Shipping Services. Buy Now">
    <meta name="author" content="Microtech Software Solution">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/Theme/assets/images/icons/favicon.png">


    <link rel="preload" href="~/Theme/assets/vendor/fontawesome-free/webfonts/fa-regular-400.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="~/Theme/assets/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="~/Theme/assets/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="~/Theme/assets/fonts/wolmart87d5.ttf?png09e" as="font" type="font/ttf" crossorigin="anonymous">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="~/Theme/assets/vendor/fontawesome-free/css/all.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="~/Theme/assets/vendor/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/assets/vendor/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/assets/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" href="~/Theme/assets/css/demo1.min.css">

</head>
<!-- add home class at body tag if default popup is needed -->
<body class="">
    <div class="page-wrapper">
        <!-- Start of Header -->
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <p class="welcome-msg">Welcome to medicalbook !</p>
                    </div>
                    <div class="header-right">
                        <!--  <div class="dropdown">
                             <a href="#currency">USD</a>
                             <div class="dropdown-box">
                                 <a href="#USD">USD</a>
                                 <a href="#EUR">EUR</a>
                             </div>
                         </div> -->
                        <!-- End of DropDown Menu -->

                        <div class="dropdown">
                            <a href="#language">
                                <img src="~/Theme/assets/images/flags/eng.png" alt="ENG Flag" width="14"
                                     height="8" class="dropdown-image" /> ENG
                            </a>
                            <div class="dropdown-box">
                                <a href="#ENG">
                                    <img src="~/Theme/assets/images/flags/eng.png" alt="ENG Flag" width="14" height="8"
                                         class="dropdown-image" />
                                    ENG
                                </a>
                            </div>
                        </div>
                        <!-- End of Dropdown Menu -->
                        <span class="divider d-lg-show"></span>
                        <a href="blog.html" class="d-lg-show">Blog</a>
                        <a href="contact-us.html" class="d-lg-show">Contact Us</a>
                        <a href="my-account.html" class="d-lg-show">My Account</a>
                        <a href="~/Theme/assets/ajax/login.html" class="d-lg-show login sign-in">
                            <i class="w-icon-account"></i>Sign In
                        </a>
                        <span class="delimiter d-lg-show">/</span>
                        <a href="~/Theme/assets/ajax/login.html" class="ml-0 d-lg-show login register">Register</a>
                    </div>
                </div>
            </div>
            <!-- End of Header Top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left mr-md-4">
                        <a href="#" class="mobile-menu-toggle  w-icon-hamburger">
                        </a>
                        <a href="demo1.html" class="logo ml-lg-0">
                            <img src="~/Theme/assets/images/logo_footer.png" alt="logo" width="190" height="50" />
                        </a>
                       
                        <form method="get" action="#" class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper">
                            <div class="select-box">
                                <select id="category" name="category">
                                    
                                </select>
                            </div>
                            <input type="text" class="form-control" name="search" id="search"
                                   placeholder="Search in..." required />
                            <button class="btn btn-search" type="submit">
                                <i class="w-icon-search"></i>
                            </button>
                        </form>

                        <style>
                            .search-options {
                                max-height: 250px !important;
                                overflow: scroll;
                                z-index: 4;
                                position: absolute;
                                background: white;
                                padding: 15px;
                                list-style: inside;
                                width: 100% !important;
                                top: 122px;
                                left: 353px;
                                border-radius: 5px;
                                border-top: 0;
                                max-width: 556px;
                                display:none;
                            }
                            img.search-result-thumbnail {
                                width: 30px;
                                margin-right: 5px;
                            }

                            ul.search-options {
                                font-size: smaller;
                                list-style-type: none;
                            }

                            .search-content {
                                width: 65%;
                                vertical-align: middle;
                            }

                            .search-price {
                                width: 20%;
                                vertical-align: top;
                                text-align: right;
                                font-weight: 600;
                                padding-right: 15px;
                            }

                            .search-image {
                                width: 13%
                            }

                            ul.search-options li p {
                                display: inline-flex;
                                width: 100% !important;
                            }

                            ul.search-options li a {
                                width: 100% !important;
                            }
                        </style>
                        <ul class="search-options" id="search_list">
                           

                        </ul>
                    </div>
                    <div class="header-right ml-4">
                        <div class="header-call d-xs-show d-lg-flex align-items-center">
                            <a href="tel:#" class="w-icon-call"></a>
                            <div class="call-info d-lg-show">
                                <h4 class="chat font-weight-normal font-size-md text-normal ls-normal text-light mb-0">
                                    <a href="mailto:#" class="text-capitalize">Live Chat</a> or :
                                </h4>
                                <a href="tel:#" class="phone-number font-weight-bolder ls-50">0(800)123-456</a>
                            </div>
                        </div>
                        <a class="wishlist label-down link d-xs-show" href="wishlist.html">
                            <i class="w-icon-heart"></i>
                            <span class="wishlist-label d-lg-show">Wishlist</span>
                        </a>
                        <!--
                        <a class="compare label-down link d-xs-show" href="compare.html">
                            <i class="w-icon-compare"></i>
                            <span class="compare-label d-lg-show">Compare</span>
                        </a> -->
                        <div class="dropdown cart-dropdown cart-offcanvas mr-0 mr-lg-2">
                            <div class="cart-overlay"></div>
                            <a href="#" class="cart-toggle label-down link">
                                <i class="w-icon-cart">
                                    <span class="cart-count">2</span>
                                </i>
                                <span class="cart-label">Cart</span>
                            </a>
                            <div class="dropdown-box">
                                <div class="cart-header">
                                    <span>Shopping Cart</span>
                                    <a href="#" class="btn-close">Close<i class="w-icon-long-arrow-right"></i></a>
                                </div>

                                <div class="products">
                                    <div class="product product-cart">
                                        <div class="product-detail">
                                            <a href="product-default.html" class="product-name">Basic Science<br>Physics</a>
                                            <div class="price-box">
                                                <span class="product-quantity">1</span>
                                                <span class="product-price">₹25.68</span>
                                            </div>
                                        </div>
                                        <figure class="product-media">
                                            <a href="product-default.html">
                                                <img src="~/Theme/assets/images/cart/product-1.jpg" alt="product" height="84"
                                                     width="94" />
                                            </a>
                                        </figure>
                                        <button class="btn btn-link btn-close">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>

                                    <div class="product product-cart">
                                        <div class="product-detail">
                                            <a href="product-default.html" class="product-name">Neonatal Skin</a>
                                            <div class="price-box">
                                                <span class="product-quantity">1</span>
                                                <span class="product-price">₹32.99</span>
                                            </div>
                                        </div>
                                        <figure class="product-media">
                                            <a href="product-default.html">
                                                <img src="~/Theme/assets/images/cart/product-2.jpg" alt="product" width="84"
                                                     height="94" />
                                            </a>
                                        </figure>
                                        <button class="btn btn-link btn-close">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="cart-total">
                                    <label>Subtotal:</label>
                                    <span class="price">₹58.67</span>
                                </div>

                                <div class="cart-action">
                                    <a href="cart.html" class="btn btn-dark btn-outline btn-rounded">View Cart</a>
                                    <a href="checkout.html" class="btn btn-primary  btn-rounded">Checkout</a>
                                </div>
                            </div>
                            <!-- End of Dropdown Box -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- End of Header Middle -->

            <div class="header-bottom sticky-content fix-top sticky-header has-dropdown">
                <div class="container">
                    <div class="inner-wrap">
                        <div class="header-left">
                            <div class="dropdown category-dropdown has-border" data-visible="true">
                                <a href="#" class="category-toggle text-dark" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="true" data-display="static"
                                   title="Browse Categories">
                                    <i class="w-icon-category"></i>
                                    <span>Browse Categories</span>
                                </a>

                                <div class="dropdown-box">
                                    <ul class="menu vertical-menu category-menu" id="menu_item">
                                     
                                    </ul>
                                </div>
                            </div>
                            <nav class="main-nav">
                                <ul class="menu active-underline" id="topmenu">
                                   
                                </ul>
                            </nav>
                        </div>
                        <div class="header-right">
                            <a href="#" class="d-xl-show"><i class="w-icon-map-marker mr-1"></i>Track Order</a>
                        </div>
                    </div>
                </div>
            </div>-->
        </header>
        <!-- End of Header -->
        <!-- Start of Main-->
        <main class="main">
            @RenderBody()
        </main>
        <!-- End of Main -->
        <!-- Start of Footer -->
        <footer class="footer appear-animate" data-animation-options="{
            'name': 'fadeIn'
        }">
            <div class="footer-newsletter bg-primary">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-5 col-lg-6">
                            <div class="icon-box icon-box-side text-white">
                                <div class="icon-box-icon d-inline-flex">
                                    <i class="w-icon-envelop3"></i>
                                </div>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title text-white text-uppercase font-weight-bold">
                                        Subscribe To
                                        Our Newsletter
                                    </h4>
                                    <p class="text-white">
                                        Get all the latest information on Events, Sales and Offers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 col-md-9 mt-4 mt-lg-0 ">
                            <form action="#" method="get"
                                  class="input-wrapper input-wrapper-inline input-wrapper-rounded">
                                <input type="email" class="form-control mr-2 bg-white" name="email" id="email"
                                       placeholder="Your E-mail Address" />
                                <button class="btn btn-dark btn-rounded" type="submit">
                                    Subscribe<i class="w-icon-long-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="widget widget-about">
                                <a href="demo1.html" class="logo-footer">
                                    <img src="~/Theme/assets/images/logo_footer.png" alt="logo-footer" width="190"
                                         height="50" />
                                </a>
                                <div class="widget-body">
                                    <p class="widget-about-title">Got Question? Call us 24/7</p>
                                    <a href="tel:18005707777" class="widget-about-call">1-800-570-7777</a>
                                    <p class="widget-about-desc">
                                        Register now to get updates on pronot get up icons
                                        & coupons ster now toon.
                                    </p>

                                    <div class="social-icons social-icons-colored">
                                        <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                        <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                        <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                                        <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
                                        <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h3 class="widget-title">Company</h3>
                                <ul class="widget-body">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="#">Team Member</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                    <li><a href="#">Affilate</a></li>
                                    <li><a href="#">Order History</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4>
                                <ul class="widget-body">
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="login.html">Sign In</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="wishlist.html">My Wishlist</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4>
                                <ul class="widget-body">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Product Returns</a></li>
                                    <li><a href="#">Support Center</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Term and Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-middle">
                    <h4>Bestseller Books</h4>
                    <p>
                        <b>Harrison Medicine | Davidson Medicine | Shaw Gynecology | Dutta Obs | Dutta Gyne | KD Tripathi | Nelson Pediatrics | Sabiston Surgery | Berek &amp; Novak | Turek Ortho | Dental Pulse | Campbell urology | Barash | Washington manual | Dejong | USMLE | Robbins Pathology | Sleisenger | Cummings Otolaryngology | Grainger | Saunders NCLEX | Arvind Arora | Vivek Jain | Pritesh Singh | First aid | Williams Endocrinology | Cloherty | Telinde gynecology | CMDT | Speroff gyne | Kanski | Grossman | Oral Medicine | Strudavent | Ramya Raghu</b>
                    </p>
                    <h4>Popular Categories</h4>
                    <p>                            <a href="#">MBBS 1st year books</a>|                            <a href="#">MBBS 2nd year books</a>|                            <a href="">Basic Science</a>|                            <a href="#">Clinical Science</a>|                            <a href="#">Surgical Science</a>|                            <a href="#">Dental Books</a>|                            <a href="#">Nursing Books</a>|                            <a href="#">Allied Science</a>|                            <a href="#">PG Entrance</a>|                            <a href="#">Dictionary</a>|                            <a href="#">General Books</a>|                            <a href="#">BDS 1st Year Books</a>|                            <a href="#">BDS 2nd Year Books</a>|                            <a href="V">BDS 3rd Year Books</a>|                            <a href="V">BDS 4th Year Books</a>|                            <a href="#">MBBS 3rd Year Books</a>|                            <a href="#">MBBS 4th Year books</a>|                            <a href="#">Global Entrance Exam</a>|                            <a href="#">Forthcoming Books</a>|                            <a href="#">International Shipping Enquiry</a>|                            <a href="#">Nursing Competition Entrance</a>|                            <a href="#">PMT</a>                    </p>
                    <h4>Top Searches on Medical Books </h4>                    <p>
                        medical books | medical books online | mbbs books | medical book store | mbbs 1st year books | textbook of biochemistry for medical students | mbbs first year books | guyton and hall textbook of medical physiology | 2nd year mbbs books | microbiology books for mbbs | books for medical students | buy medical books online | biochemistry books for mbbs | pharmacology books for mbbs | anatomy books for mbbs | physiology book for mbbs | surgery books for mbbs | mbbs 3rd year books | mbbs 1st year books cost | final year mbbs books | best anatomy book for mbbs | medical books online shopping | medical books at lowest price | online medical book store | order medical books online | online medical books | online mbbs books | medicine books pre final year mbbs books | bailey surgery | dutta obstetrics | ghai pediatrics | dhingra ENT | Davidson medicine | 4th Year Mbbs Books | 3rd year mbbs books | final year mbbs books
                    </p>

                    <h4>Medical Books - The Bestseller of Medical Books Online</h4>
                    <p>Medical Books is one of the best and only Online store dedicated to Medical Books. Are you looking for Medical Books at affordable prices then you are at the exact spot. Medical Books is in the field of distribution of medical books from 54 years. Today, E-commerce platform changing the shopping experiences of people by providing them easy access to their choices on the fingertips. Here you can buy all kinds of medical books online. So, go ahead to explore and buy a wide range of medical books at exciting discount prices here. We believe in the best customer experience so we also have all command on flexible home deliveries all over India.  You can grab special offers on all kinds of MBBS and BDS books. All the books you will buy are 100 % original editions. Medical Books provides you access to more than 20 thousand medical books at the lowest prices.</p>
                    <p><b>Online MBBS Books - </b> Get special offers on MBBS 1st year books.  Pick your choices according to your requirements and course demands. We provide categorized recommendations of your course book requirements. </p>
                    <p><b>Trending books on high demand are</b> Guyton and hall textbook of medical physiology, microbiology books for MBBS, biochemistry books for MBBS, pharmacology books for MBBS, anatomy books for MBBS, physiology book for MBBS, surgery books for MBBS.</p>
                    <p><b>Entrance test books -</b> If you are preparing for Medical entrance tests then buy your books at cheaper prices from Medical Books for making your dream come true. Here you can buy the latest syllabus editions and test papers as per the entrance examination pattern. </p>
                    <p>
                        <b>BDS Books -</b> High discounts available on all levels of BDS books. Buy all kinds of books related to dental care and surgery just from a few clicks on Medical Books.
                        You can search for BDS 1st year Books, BDS 2nd year Books, BDS 3rd year Books, BDS 4th year Books.
                    </p>

                    <h4>Easy Return and Refund Policies - </h4>
                    <ul>
                        <li>You can return your book within 4 days applicable after the date of delivery. </li>
                        <li>Once the book received by our delivery executive we immediately initiate the refund as per your payment options.</li>
                        <li>Damaged books will not be accepted and refunded during the return process</li>
                    </ul>
                    <h4>100% Assured Original Books</h4>
                    <ul>
                        <li>We don't believe in duplicate copies and dummy copies of the book. </li>
                        <li>We are authorized by the top most distributors of the field. </li>
                    </ul>
                    <h4>Payment Options</h4>
                    <ul>
                        <li>Cash on Delivery - Pay after you receive your book. </li>
                        <li>Debit / Credit Card payment -  You can pay through debit or credit card at the time of checkout. All types of cards are accepted Visa, Master Card, Rupay, Maestro, etc. </li>
                        <li>Net banking Transactions -  Pay directly through your banks at the checkout. </li>
                        <li>Digital Wallets - You can also easily pay through digital wallets like Amazon Pay etc. </li>
                    </ul>
                    <h4>Flexible Delivery </h4>
                    <ul>
                        <li>Once you will place the order it will be delivered to you within 1 to 3 working days. </li>
                        <li>In case of special book demands, it will take a maximum of upto 4 working days to deliver. </li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <div class="footer-left">
                        <p class="copyright">Copyright © 2021 Wolmart Store. All Rights Reserved.</p>
                    </div>
                    <div class="footer-right">
                        <span class="payment-label mr-lg-8">We're using safe payment for</span>
                        <figure class="payment">
                            <img src="~/Theme/assets/images/payment.png" alt="payment" width="159" height="25" />
                        </figure>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Page-wrapper-->
    <!-- Start of Sticky Footer -->
    <div class="sticky-footer sticky-content fix-bottom">
        <a href="demo1.html" class="sticky-link active">
            <i class="w-icon-home"></i>
            <p>Home</p>
        </a>
        <a href="shop-banner-sidebar.html" class="sticky-link">
            <i class="w-icon-category"></i>
            <p>Shop</p>
        </a>
        <a href="my-account.html" class="sticky-link">
            <i class="w-icon-account"></i>
            <p>Account</p>
        </a>
        <div class="cart-dropdown dir-up">
            <a href="cart.html" class="sticky-link">
                <i class="w-icon-cart"></i>
                <p>Cart</p>
            </a>
            <div class="dropdown-box">
                <div class="products">
                    <div class="product product-cart">
                        <div class="product-detail">
                            <h3 class="product-name">
                                <a href="product-default.html">
                                    Beige knitted elas<br>tic
                                    runner shoes
                                </a>
                            </h3>
                            <div class="price-box">
                                <span class="product-quantity">1</span>
                                <span class="product-price">₹25.68</span>
                            </div>
                        </div>
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="~/Theme/assets/images/cart/product-1.jpg" alt="product" height="84" width="94" />
                            </a>
                        </figure>
                        <button class="btn btn-link btn-close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="product product-cart">
                        <div class="product-detail">
                            <h3 class="product-name">
                                <a href="product-default.html">
                                    Blue utility pina<br>fore
                                    denim dress
                                </a>
                            </h3>
                            <div class="price-box">
                                <span class="product-quantity">1</span>
                                <span class="product-price">₹32.99</span>
                            </div>
                        </div>
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="~/Theme/assets/images/cart/product-2.jpg" alt="product" width="84" height="94" />
                            </a>
                        </figure>
                        <button class="btn btn-link btn-close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="cart-total">
                    <label>Subtotal:</label>
                    <span class="price">₹58.67</span>
                </div>

                <div class="cart-action">
                    <a href="cart.html" class="btn btn-dark btn-outline btn-rounded">View Cart</a>
                    <a href="checkout.html" class="btn btn-primary  btn-rounded">Checkout</a>
                </div>
            </div>
            <!-- End of Dropdown Box -->
        </div>

        <div class="header-search hs-toggle dir-up">
            <a href="#" class="search-toggle sticky-link">
                <i class="w-icon-search"></i>
                <p>Search</p>
            </a>
            <form action="#" class="input-wrapper">
                <input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search"
                       required />
                <button class="btn btn-search" type="submit">
                    <i class="w-icon-search"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- End of Sticky Footer -->
    <!-- Start of Scroll Top -->
    <a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="fas fa-chevron-up"></i></a>
    <!-- End of Scroll Top -->
    <!-- Start of Mobile Menu -->
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay"></div>
        <!-- End of .mobile-menu-overlay -->

        <a href="#" class="mobile-menu-close"><i class="close-icon"></i></a>
        <!-- End of .mobile-menu-close -->

        <div class="mobile-menu-container scrollable">
            <form action="#" method="get" class="input-wrapper">
                <input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search"
                       required />
                <button class="btn btn-search" type="submit">
                    <i class="w-icon-search"></i>
                </button>
            </form>
            <!-- End of Search Form -->
            <div class="tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#main-menu" class="nav-link active">Main Menu</a>
                    </li>
                    <li class="nav-item">
                        <a href="#categories" class="nav-link">Categories</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="main-menu">
                    <ul class="mobile-menu">
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <a href="#">Science Books</a>
                            <ul>
                                <li>
                                    <a href="#">Clinical Science</a>
                                    <ul>
                                        <li><a href="#">Instruments</a></li>
                                        <li><a href="#">Medicine</a></li>
                                        <li><a href="#">Neonatology</a></li>
                                        <li><a href="#">Neurology</a></li>
                                        <li><a href="#">Paediatrics</a></li>
                                        <li><a href="#">Psychiatry</a></li>
                                        <li><a href="#">Radiology</a></li>
                                        <li><a href="#">Dermatology</a></li>
                                        <li><a href="#">Rheumatology</a></li>
                                        <li><a href="#">Hematology</a></li>
                                        <li><a href="#">Endocrinology</a></li>
                                        <li><a href="#">Gastroenterology</a></li>
                                        <li><a href="#">Cardiology and ECG</a></li>
                                        <li><a href="#">General Practice</a></li>
                                        <li><a href="#">Emergency Medicine</a></li>
                                        <li><a href="#">Respiratory Medicine</a></li>
                                        <li><a href="#">Critical Care/Intensive Care</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Surgical Science</a>
                                    <ul>
                                        <li><a href="#">Surgery</a></li>
                                        <li><a href="#">Urology</a></li>
                                        <li><a href="#">Oncology</a></li>
                                        <li><a href="#">Nephrology</a></li>
                                        <li><a href="#">Anaesthesia</a></li>
                                        <li><a href="#">Orthopaedics</a></li>
                                        <li><a href="#">Neurosurgery</a></li>
                                        <li><a href="#">Ophthalmology</a></li>
                                        <li><a href="#">Plastic Surgery</a></li>
                                        <li><a href="#">Otorhinolaryngology / Ear, Nose and Throat</a></li>
                                        <li><a href="#">Obstetrics and Gynaecology</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Basic Science</a>
                                    <ul>
                                        <li><a href="#">Anatomy</a></li>
                                        <li><a href="#">Genetics</a></li>
                                        <li><a href="#">Physiology</a></li>
                                        <li><a href="#">Biochemistry</a></li>
                                        <li><a href="#">Pathology<span class="tip tip-hot">Hot</span></a></li>
                                        <li><a href="#">Microbiology</a></li>
                                        <li><a href="#">Pharmacology<span class="tip tip-new">New</span></a></li>
                                        <li><a href="#">Community Medicine/PSM</a></li>
                                        <li><a href="#">Forensic Medicine and Toxicology</a></li>
                                        <li><a href="#">Medical Statistics/Biostatistics</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="vendor-dokan-store.html">Dental Books</a>
                            <ul>
                                <li><a href="#">Dental</a></li>
                                <li><a href="#">Oral Histology and Embryology</a></li>
                                <li><a href="#">Dental Anatomy</a></li>
                                <li><a href="#">Biochemistry</a></li>
                                <li><a href="#">Endodontics</a></li>
                                <li><a href="#">Forensic Odontology</a></li>
                                <li><a href="#">Local Anaesthesia</a></li>
                                <li><a href="#">Microbiology</a></li>
                                <li><a href="#">Oral and Maxillofacial Surgery</a></li>
                                <li><a href="#">Operative Dentistry</a></li>
                                <li><a href="#">Oral Implantology</a></li>
                                <li><a href="#">Oral Medicine</a></li>
                                <li><a href="#">Oral Pathology</a></li>
                                <li><a href="#">Oral Radiology</a></li>
                                <li><a href="#">General Surgery</a></li>
                                <li><a href="#">Orthodontics</a></li>
                                <li><a href="#">Pedodontics</a></li>
                                <li><a href="#">Periodontics</a></li>
                                <li><a href="#">Pharmacology</a></li>
                                <li><a href="#">Physiology</a></li>
                                <li><a href="#">Preventive and Community Dentistry</a></li>
                                <li><a href="#">Prosthodontics</a></li>
                                <li><a href="#">Public Health Dentistry</a></li>
                                <li><a href="#">Dental Materials</a></li>
                                <li><a href="#">Pathology</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Other Categories</a>
                            <ul>
                                <li>
                                    <a href="#">Nursing Books</a>
                                    <ul>
                                        <li><a href="#">Nursing Books</a></li>
                                        <li><a href="#">Nursing</a></li>
                                        <li><a href="#">Biochemistry</a></li>
                                        <li><a href="#">Community Health Nursing</a></li>
                                        <li><a href="#">Computers </a></li>
                                        <li><a href="#">Cumulative Record Books and Clinical Diary</a></li>
                                        <li><a href="#">Fundamental of Nursing</a></li>
                                        <li><a href="#">Nursing Genetics </a></li>
                                        <li><a href="#">Midwifery And Gynecology</a></li>
                                        <li><a href="#">Nursing Microbiology</a></li>
                                        <li><a href="#">Medical Surgical Nursing</a></li>
                                        <li><a href="#">Nursing Administration</a></li>
                                        <li><a href="#">Communication and Educational Technology</a></li>
                                        <li><a href="#">Nursing Education</a></li>
                                        <li><a href="#">Nursing Research</a></li>
                                        <li><a href="#">Food and Nutrition</a></li>
                                        <li><a href="#">Nursing Pathology</a></li>
                                        <li><a href="#">Nursing Pharmacology</a></li>
                                        <li><a href="#">Psychiatric and Mental Health Nursing</a></li>
                                        <li><a href="#">Sociology</a></li>
                                        <li><a href="#">Biophysics</a></li>
                                        <li><a href="#">Psychology</a></li>
                                        <li><a href="#">Anatomy & Physiology</a></li>
                                        <li><a href="#">Paediatric Nursing</a></li>
                                        <li><a href="#">Nursing Management</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Allied Science</a>
                                    <ul>
                                        <li><a href="#">Medical Laboratory Technology</a></li>
                                        <li><a href="#">Ayurvedic</a></li>
                                        <li><a href="#">Hospital Administration</a></li>
                                        <li><a href="#">Pharmacy</a></li>
                                        <li><a href="#">Physiotherphy </a></li>
                                        <li><a href="#">Allied Health</a></li>
                                        <li><a href="#">Veterinary</a></li>
                                        <li><a href="#">Homeopathy</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">PG Entrance</a>
                                    <ul>
                                        <li><a href="#">USMLE</a></li>
                                        <li><a href="#">MCQs and Self Assessment Reviews</a></li>
                                        <li><a href="#">Dental MCQs</a></li>
                                        <li><a href="#">Nursing MCQs</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">MBBS 3rd Year Books</a>
                                    <ul>
                                        <li><a href="#">PSM</a></li>
                                        <li><a href="#">ENT</a></li>
                                        <li><a href="#">EYE</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">MBBS 4th Year books</a>
                                    <ul>
                                        <li><a href="#">Medicine</a></li>
                                        <li><a href="#">Surgery</a></li>
                                        <li><a href="#">Obs</a></li>
                                        <li><a href="#">Paediatrics</a></li>
                                        <li><a href="#">Orthopeadics</a></li>
                                        <li><a href="#">Psychiatry</a></li>
                                        <li><a href="#">Dermatology</a></li>
                                        <li><a href="#">Radiology</a></li>
                                        <li><a href="#">Anaesthesia</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Global Entrance Exam</a>
                                    <ul>
                                        <li><a href="#">FRCA</a></li>
                                        <li><a href="#">FRCEM</a></li>
                                        <li><a href="#">FRCR</a></li>
                                        <li><a href="#">FRCS</a></li>
                                        <li><a href="#">FMGE</a></li>
                                        <li><a href="#">MCEM Part A,B,C</a></li>
                                        <li><a href="#">MRCOG Part 1,2,3</a></li>
                                        <li><a href="#">MRCP Part 1,2</a></li>
                                        <li><a href="#">MRCOCH Part 1,2</a></li>
                                        <li><a href="#">MRCPsych</a></li>
                                        <li><a href="#">MRCS</a></li>
                                        <li><a href="#">PLAB</a></li>
                                        <li><a href="#">USMLE Step 1</a></li>
                                        <li><a href="#">USMLE Step 2</a></li>
                                        <li><a href="#">USMLE Step 3</a></li>
                                        <li><a href="#">NBDE Part 1,2</a></li>
                                        <li><a href="#">NCLEX-RN,NCLEX-PN</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">PMT</a>
                                    <ul>
                                        <li><a href="#">Physics</a></li>
                                        <li><a href="#">Chemistry</a></li>
                                        <li><a href="#">Biology</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="about-us.html">MedicalBook Quick Tour</a>
                            <ul>
                                <li><a href="#">Explore Books</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="categories">
                    <ul class="mobile-menu">
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-sale"></i>Clinical Science
                            </a>
                            <ul>
                                <li><a href="#">Instruments</a></li>
                                <li><a href="#">Medicine</a></li>
                                <li><a href="#">Neonatology</a></li>
                                <li><a href="#">Neurology</a></li>
                                <li><a href="#">Paediatrics</a></li>
                                <li><a href="#">Psychiatry</a></li>
                                <li><a href="#">Radiology</a></li>
                                <li><a href="#">Dermatology</a></li>
                                <li><a href="#">Rheumatology</a></li>
                                <li><a href="#">Hematology</a></li>
                                <li><a href="#">Rheumatology</a></li>
                                <li><a href="#">Hematology</a></li>
                                <li><a href="#">Endocrinology</a></li>
                                <li><a href="#">Gastroenterology</a></li>
                                <li><a href="#">Cardiology and ECG</a></li>
                                <li><a href="#">General Practice</a></li>
                                <li><a href="#">Emergency Medicine</a></li>
                                <li><a href="#">Respiratory Medicine</a></li>
                                <li><a href="#">Critical Care/Intensive Care</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-heartbeat"></i>Surgical Science
                            </a>
                            <ul>
                                <li><a href="#">Surgery</a></li>
                                <li><a href="#">Urology</a></li>
                                <li><a href="#">Oncology</a></li>
                                <li><a href="#">Nephrology</a></li>
                                <li><a href="#">Anaesthesia</a></li>
                                <li><a href="#">Orthopaedics</a></li>
                                <li><a href="#">Neurosurgery</a></li>
                                <li><a href="#">Ophthalmology</a></li>
                                <li><a href="#">Plastic Surgery</a></li>
                                <li><a href="#">Obstetrics and Gynaecology</a></li>
                                <li><a href="#">Otorhinolaryngology / Ear, Nose and Throat</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-electronics"></i>Basic Science
                            </a>
                            <ul>
                                <li><a href="#">Anatomy</a></li>
                                <li><a href="#">Genetics</a></li>
                                <li><a href="#">Physiology</a></li>
                                <li><a href="#">Biochemistry</a></li>
                                <li><a href="#">Pathology<span class="tip tip-hot">Hot</span></a></li>
                                <li><a href="#">Microbiology</a></li>
                                <li><a href="#">Pharmacology<span class="tip tip-new">New</span></a></li>
                                <li><a href="#">Community Medicine/PSM</a></li>
                                <li><a href="#">Forensic Medicine and Toxicology</a></li>
                                <li><a href="#">Medical Statistics/Biostatistics</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-calendar"></i>Dental Books
                            </a>
                            <ul>
                                <li><a href="#">Instruments</a></li>
                                <li><a href="#">Medicine</a></li>
                                <li><a href="#">Neonatology</a></li>
                                <li><a href="#">Neurology</a></li>
                                <li><a href="#">Paediatrics</a></li>
                                <li><a href="#">Psychiatry</a></li>
                                <li><a href="#">Radiology</a></li>
                                <li><a href="#">Dermatology</a></li>
                                <li><a href="#">Rheumatology</a></li>
                                <li><a href="#">Hematology</a></li>
                                <li><a href="#">Preventive and Community Dentistry</a></li>
                                <li><a href="#">Oral Radiology</a></li>
                                <li><a href="#">General Surgery</a></li>
                                <li><a href="#">Orthodontics</a></li>
                                <li><a href="#">Pedodontics</a></li>
                                <li><a href="#">Pharmacology</a></li>
                                <li><a href="#">Periodontics</a></li>
                                <li><a href="#">Prosthodontics</a></li>
                                <li><a href="#">Public Health Dentistry</a></li>
                                <li><a href="#">Dental Materials</a></li>
                                <li><a href="#">Pathology</a></li>
                                <li><a href="#">Physiology</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-calendar"></i>Nursing Books
                            </a>
                            <ul>
                                <li><a href="#">Nursing Books</a></li>
                                <li><a href="#">Nursing</a></li>
                                <li><a href="#">Biochemistry</a></li>
                                <li><a href="#">Community Health Nursing</a></li>
                                <li><a href="#">Computers </a></li>
                                <li><a href="#">Fundamental of Nursing</a></li>
                                <li><a href="#">Nursing Genetics </a></li>
                                <li><a href="#">Midwifery And Gynecology</a></li>
                                <li><a href="#">Nursing Microbiology</a></li>
                                <li><a href="#">Medical Surgical Nursing</a></li>
                                <li><a href="#">Psychology</a></li>
                                <li><a href="#">Anatomy & Physiology</a></li>
                                <li><a href="#">Paediatric Nursing</a></li>
                                <li><a href="#">Nursing Management</a></li>
                                <li><a href="#">Nursing Management</a></li>
                                <li><a href="#">Nursing Administration</a></li>
                                <li><a href="#">Communication and Educational Technology</a></li>
                                <li><a href="#">Nursing Education</a></li>
                                <li><a href="#">Nursing Research</a></li>
                                <li><a href="#">Food and Nutrition</a></li>
                                <li><a href="#">Nursing Pathology</a></li>
                                <li><a href="#">Nursing Pharmacology</a></li>
                                <li><a href="#">Psychiatric and Mental Health Nursing</a></li>
                                <li><a href="#">Cumulative Record Books and Clinical Diary</a></li>
                                <li><a href="#">Sociology</a></li>
                                <li><a href="#">Biophysics</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-social"></i>Allied Science
                            </a>
                            <ul>
                                <li><a href="#">Dental</a></li>
                                <li><a href="#">Oral Histology and Embryology</a></li>
                                <li><a href="#">Dental Anatomy</a></li>
                                <li><a href="#">Biochemistry</a></li>
                                <li><a href="#">Endodontics</a></li>
                                <li><a href="#">Forensic Odontology</a></li>
                                <li><a href="#">Local Anaesthesia</a></li>
                                <li><a href="#">Microbiology</a></li>
                                <li><a href="#">Oral and Maxillofacial Surgery</a></li>
                                <li><a href="#">Operative Dentistry</a></li>
                                <li><a href="#">Oral Implantology</a></li>
                                <li><a href="#">Oral Medicine</a></li>
                                <li><a href="#">Oral Pathology</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-orders"></i>PG Entrance
                            </a>
                            <ul>
                                <li><a href="#">USMLE</a></li>
                                <li><a href="#">MCQs and Self Assessment Reviews</a></li>
                                <li><a href="#">Dental MCQs</a></li>
                                <li><a href="#">Nursing MCQs</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-orders"></i>MBBS 3rd Year Books
                            </a>
                            <ul>
                                <li><a href="#">PSM</a></li>
                                <li><a href="#">ENT</a></li>
                                <li><a href="#">EYE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-orders"></i>MBBS 4th Year books
                            </a>
                            <ul>
                                <li><a href="#">Medicine</a></li>
                                <li><a href="#">Surgery</a></li>
                                <li><a href="#">Obs</a></li>
                                <li><a href="#">Paediatrics</a></li>
                                <li><a href="#">Orthopeadics</a></li>
                                <li><a href="#">Psychiatry</a></li>
                                <li><a href="#">Dermatology</a></li>
                                <li><a href="#">Radiology</a></li>
                                <li><a href="#">Anaesthesia</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-orders"></i>Global Entrance Exam
                            </a>
                            <ul>
                                <li><a href="#">FRCA</a></li>
                                <li><a href="#">FRCEM</a></li>
                                <li><a href="#">FRCR</a></li>
                                <li><a href="#">FRCS</a></li>
                                <li><a href="#">FMGE</a></li>
                                <li><a href="#">MCEM Part A,B,C</a></li>
                                <li><a href="#">MRCOG Part 1,2,3</a></li>
                                <li><a href="#">MRCP Part 1,2</a></li>
                                <li><a href="#">MRCOCH Part 1,2</a></li>
                                <li><a href="#">MRCPsych</a></li>
                                <li><a href="#">MRCS</a></li>
                                <li><a href="#">PLAB</a></li>
                                <li><a href="#">USMLE Step 1</a></li>
                                <li><a href="#">USMLE Step 2</a></li>
                                <li><a href="#">USMLE Step 3</a></li>
                                <li><a href="#">NBDE Part 1,2</a></li>
                                <li><a href="#">NCLEX-RN,NCLEX-PN</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-fullwidth-banner.html">
                                <i class="w-icon-orders"></i>PMT
                            </a>
                            <ul>
                                <li><a href="#">PSM</a></li>
                                <li><a href="#">ENT</a></li>
                                <li><a href="#">EYE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-banner-sidebar.html"
                               class="font-weight-bold text-primary text-uppercase ls-25">
                                View All Categories<i class="w-icon-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Mobile Menu -->
    <!-- Start of Quick View -->
    <div class="product product-single product-popup">
        <div class="row gutter-lg">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="product-gallery product-gallery-sticky mb-0">
                    <div class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1 gutter-no">
                        <figure class="product-image">
                            <img src="~/Theme/assets/images/products/popup/1-440x494.jpg"
                                 data-zoom-image="~/Theme/assets/images/products/popup/1-800x900.jpg"
                                 alt="Water Boil Black Utensil" width="800" height="900">
                        </figure>
                        <figure class="product-image">
                            <img src="~/Theme/assets/images/products/popup/2-440x494.jpg"
                                 data-zoom-image="~/Theme/assets/images/products/popup/2-800x900.jpg"
                                 alt="Water Boil Black Utensil" width="800" height="900">
                        </figure>
                        <figure class="product-image">
                            <img src="~/Theme/assets/images/products/popup/3-440x494.jpg"
                                 data-zoom-image="~/Theme/assets/images/products/popup/3-800x900.jpg"
                                 alt="Water Boil Black Utensil" width="800" height="900">
                        </figure>
                        <figure class="product-image">
                            <img src="~/Theme/assets/images/products/popup/4-440x494.jpg"
                                 data-zoom-image="~/Theme/assets/images/products/popup/4-800x900.jpg"
                                 alt="Water Boil Black Utensil" width="800" height="900">
                        </figure>
                    </div>
                    <div class="product-thumbs-wrap">
                        <div class="product-thumbs">
                            <div class="product-thumb active">
                                <img src="~/Theme/assets/images/products/popup/1-103x116.jpg" alt="Product Thumb" width="103"
                                     height="116">
                            </div>
                            <div class="product-thumb">
                                <img src="~/Theme/assets/images/products/popup/2-103x116.jpg" alt="Product Thumb" width="103"
                                     height="116">
                            </div>
                            <div class="product-thumb">
                                <img src="~/Theme/assets/images/products/popup/3-103x116.jpg" alt="Product Thumb" width="103"
                                     height="116">
                            </div>
                            <div class="product-thumb">
                                <img src="~/Theme/assets/images/products/popup/4-103x116.jpg" alt="Product Thumb" width="103"
                                     height="116">
                            </div>
                        </div>
                        <button class="thumb-up disabled"><i class="w-icon-angle-left"></i></button>
                        <button class="thumb-down disabled"><i class="w-icon-angle-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 overflow-hidden p-relative">
                <div class="product-details scrollable pl-0">
                    <h2 class="product-title">Electronics Black Wrist Watch</h2>
                    <div class="product-bm-wrapper">
                        <figure class="brand">
                            <img src="~/Theme/assets/images/products/brand/brand-1.jpg" alt="Brand" width="102" height="48" />
                        </figure>
                        <div class="product-meta">
                            <div class="product-categories">
                                Category:
                                <span class="product-category"><a href="#">Electronics</a></span>
                            </div>
                            <div class="product-sku">
                                SKU: <span>MS46891340</span>
                            </div>
                        </div>
                    </div>

                    <hr class="product-divider">

                    <div class="product-price">₹40.00</div>

                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width: 80%;"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="#" class="rating-reviews">(3 Reviews)</a>
                    </div>

                    <div class="product-short-desc">
                        <ul class="list-type-check list-style-none">
                            <li>Ultrices eros in cursus turpis massa cursus mattis.</li>
                            <li>Volutpat ac tincidunt vitae semper quis lectus.</li>
                            <li>Aliquam id diam maecenas ultricies mi eget mauris.</li>
                        </ul>
                    </div>

                    <hr class="product-divider">

                    <div class="product-form product-variation-form product-color-swatch">
                        <label>Color:</label>
                        <div class="d-flex align-items-center product-variations">
                            <a href="#" class="color" style="background-color: #ffcc01"></a>
                            <a href="#" class="color" style="background-color: #ca6d00;"></a>
                            <a href="#" class="color" style="background-color: #1c93cb;"></a>
                            <a href="#" class="color" style="background-color: #ccc;"></a>
                            <a href="#" class="color" style="background-color: #333;"></a>
                        </div>
                    </div>
                    <div class="product-form product-variation-form product-size-swatch">
                        <label class="mb-1">Size:</label>
                        <div class="flex-wrap d-flex align-items-center product-variations">
                            <a href="#" class="size">Small</a>
                            <a href="#" class="size">Medium</a>
                            <a href="#" class="size">Large</a>
                            <a href="#" class="size">Extra Large</a>
                        </div>
                        <a href="#" class="product-variation-clean">Clean All</a>
                    </div>

                    <div class="product-variation-price">
                        <span></span>
                    </div>

                    <div class="product-form">
                        <div class="product-qty-form">
                            <div class="input-group">
                                <input class="quantity form-control" type="number" min="1" max="10000000">
                                <button class="quantity-plus w-icon-plus"></button>
                                <button class="quantity-minus w-icon-minus"></button>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-cart">
                            <i class="w-icon-cart"></i>
                            <span>Add to Cart</span>
                        </button>
                    </div>

                    <div class="social-links-wrapper">
                        <div class="social-links">
                            <div class="social-icons social-no-color border-thin">
                                <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                                <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
                                <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                            </div>
                        </div>
                        <span class="divider d-xs-show"></span>
                        <div class="product-link-wrapper d-flex">
                            <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"></a>
                            <a href="#"
                               class="btn-product-icon btn-compare btn-icon-left w-icon-compare"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Quick view -->
    <!-- Plugin JS File -->
    <script src="~/Theme/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Theme/assets/vendor/jquery.plugin/jquery.plugin.min.js"></script>
    <script src="~/Theme/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Theme/assets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Theme/assets/vendor/zoom/jquery.zoom.min.js"></script>
    <script src="~/Theme/assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>
    <script src="~/Theme/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Theme/assets/vendor/skrollr/skrollr.min.js"></script>

    <!-- Main JS -->
    <script src="~/Theme/assets/js/main.min.js"></script>

    <script src="~/PageScript/layout_script.js"></script>

</body>
</html>